html,
body{   
    overflow-x: hidden;
    position: relative;
    height: 100%;
    font-size: 14px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.main {
    flex: 1 0 auto;
}
.footer{
    flex: 0 0 auto;
}
.container{
    margin: 0 auto;
    padding: 0 0.71428rem;
    max-width: 81.42857rem;
    width: 100%;
}
.container_full{
    margin: 0 auto;
    padding: 0 0.71428rem;
    max-width: 137.14285rem;
    width: 100%;
}
.slick-list {
    max-width: 25rem;
}
.slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    li {
        padding: 0 1.07142rem;
    }
    button{
        background-color: #000000;
        border: none;
        width: 0.57142rem;
        height: 0.57142rem;
        border-radius: 50%;
        padding: 0;
        font-size: 0;
    }
    li.slick-active{
        button{
            background-color: rgb(238, 66, 72) ;
        }
    
    }
}











