@media (max-width: 768px) {
.header{
    .header__item-mobilemenu{
        display: block;
    }
    .menu__list{
        display: none;
    }
    .header__item-links{
        margin: 0 1.78571rem 0 auto;
    }   

   } 
   &.menu{
    .menu__list--active{
        padding: 0.71428rem;
        display: block;
        position: absolute;
        background: #ffffff;
        top: 5.71428rem;
        right: 0; 
        box-shadow: 0 0.07142rem 0.28571rem rgba(0, 0, 0, 0.25);
        z-index: 100;
        & li:not(:last-child){
            margin-bottom: 0.71428rem;
        }     
    }
}  
.making{
    padding: 4.10714rem 0 5.82142rem;
    position: relative;
    & .making__item-img{
        position: absolute;
        top: 4.10714rem;
        right: 0;
        width: 50vh;
    }
    & .making__item-title{
        max-width: 22.85714rem;
    }
    & .making__item-texts{
        width: 100%;
        z-index: 1;
    }
    & .making__item-btn{
        margin: 0 auto;
    }
}
.product{
    & .product__items-blocks{
        & .product__item-block{ 
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            & .product__item-text{
                text-align: center;
            }
        }
    }
}
.footer{
    &__items{
        justify-content: center;
    }
}
}
@media (max-width: 450px) {
.making{
    & .making__item-img{
        display: none;
    }
    & .making__item-title{
        margin: 0 auto 1.71428rem;
        text-align: center;
    }
}  
.welcome{
    & .welcome__item-img{
        display: none;
    }
    & .welcome__item-title{
        text-align: center;
    }

}
.product{
    padding: 4.14285rem 0 4.92857rem;
    & .product__items-blocks{
        flex-direction: column;
            & .product__item-block{
                margin-bottom: 1.42857rem;
                display: flex !important;
            }
            & .product__item-block .product__item-text{
                text-align: justify;
            }

        }
    }
.footer{
    &__items{
        display: flex;
        flex-direction: column;
        align-items: center;
        & .footer__item-logo{
            width: fit-content;
            margin: 0 auto 1.42857rem;
        }
        & .footer__items-contact{
            margin: 0;
        }
    }
    
}  
}