%Roboto_normal{
    font-family: 'Roboto', sans-serif; ;
    font-weight: normal;   
}
%Roboto_700{
    font-family: 'Roboto', sans-serif; ;
    font-weight: 700;   
}
%Roboto_500{
    font-family: 'Roboto', sans-serif; ;
    font-weight: 500;   
}
%Roboto_400{
    font-family: 'Roboto', sans-serif; ;
    font-weight: 400;   
}
%Roboto_300{
    font-family: 'Roboto', sans-serif; ;
    font-weight: 300;   
}
%test_font_bold{
    font-family: 'name font', sans-serif; ;
    font-weight: bold;   
}