@import "reset";
@import "global";
@import "vars";
@import "libs";
@import "fonts";
.header{
    padding: 1.57142rem 0;
    background: #FFFFFF;
    box-shadow: 0 0.07142rem 0.28571rem rgba(0, 0, 0, 0.25);
    
    &__inner-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    & .menu{
        &__list{
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        &__list-item{
            padding: 0.71428rem 0;
            margin: 0 1.78571rem;
        }
        &__item-link{
            @extend %Roboto_normal;
            font-size: 1.28571rem;
            line-height: 1.5rem;
            color: rgba(31, 46, 53, 0.8);
        }
        
    } 
    &__item-links a:nth-child(2){
        margin: 0 1.71428rem;
    }
    &__item-mobilemenu{
        & .header__item-btn{
            background: transparent;
            margin: 0;
            padding: 0;
            outline: none;
            border: none;
            cursor: pointer;
        }
        & .header__line-btn{
            display: block;
            height: 0.14285rem;
            width: 1.78571rem;
            background: #000000;
            margin-bottom: 0.35714rem;
            opacity: 1;        
        }
        & .header__item-btn:before{
            margin-bottom: 0.35714rem;
        }
        & .header__item-btn:before,
        & .header__item-btn:after{
            content: "";
            display:block;
            height: 0.14285rem;
            width: 1.78571rem;
            background: #000000;
        }
        & .header__item-btn.header__item-btn--active{
            .header__line-btn{
                opacity: 0;
            }
            &::after{
                width: 1.78571rem;
                transform: translateY(-0.42857rem) rotate(-45deg);
            }
            &::before{
                width: 1.78571rem;
                transform: translateY(0.57142rem) rotate(45deg);
            }
        }

    }
    &__item-mobilemenu{
        display: none;
    }

}
.making{
    padding: 8.21428rem 0 11.64285rem;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item-title h1{
        @extend %Roboto_700;
        font-size: 3.42857rem;
        line-height: 4.57142rem;
        color: #1F2E35;
    }
    &__item-title h1 span{
        color: #EE4248;
    }
    &__item-text span{
       @extend %Roboto_400;
       font-size: 1.42857rem;
       line-height: 2.07142rem;
       color: #30444E;
    }
    &__item-title{
        margin-bottom: 1.71428rem;
    }
    &__item-text{
        max-width: 37.14285rem;
        margin-bottom: 1.71428rem;
    }
    &__item-link{
        & .making__item-btn{
            width: fit-content;
            padding:0.85714rem 2.28571rem;
            background: #EE4248;
            box-shadow: 0.07142rem 0.14285rem 0.28571rem rgba(0, 0, 0, 0.25);
            border-radius: 0.28571rem;
        }
        & .making__item-btn a{
            @extend %Roboto_400;
            font-size: 1.42857rem;
            line-height: 2.07142rem;
            color: #FFFFFF;
        };
    }
}


.welcome{
    padding: 4.07142rem 0 4.5rem;
    background: #F7F7F7;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item-texts{
        & .welcome__item-title h2{
            @extend %Roboto_500;
            font-size: 2.28571rem;
            line-height: 3.05571rem;
            color: #1F2E35;
        }
        & .welcome__item-title h2 span{
            color: #EE4248; 
        }
        & .welcome__item-text span{
            @extend %Roboto_500;
            font-size: 1.14285rem;
            line-height: 1.92857;
            color: #30444E;
        }
        & .welcome__item-text span span{
            color: #EE4248;
        }
        & .welcome__item-title{
            margin-bottom:1.71428rem ;
        }
        & .welcome__item-text{
            max-width: 37.14285rem;
        }
    }

}
.product{
    padding: 8.28571rem 0 9.85714rem;
    &__item-title h2{
        @extend %Roboto_500;
        font-size: 2.28571rem;
        line-height:3.05571rem;
        color: #1F2E35;
    }
    &__item-title{
        width: fit-content;
        margin: 0 auto;
        margin-bottom: 3rem;
    }
    &__items-blocks{
        display: flex;
        justify-content: space-between;
        align-items: center;
        & .product__item-block{
            max-width: 25.92857rem;
            padding: 0 1.71428rem;
            & .product__item-img{
                margin-bottom: 1.07142rem;
            }
            & .product__item-title h3{
                @extend %Roboto_500;
                font-size: 2rem;
                line-height: 2.67357rem;
                color: #EE4248;
            }
            & .product__item-title{
                margin:0 0 1.07142rem;
            }
            & .product__item-text span{
                @extend %Roboto_400;
                font-size: 1.28571rem;
                line-height: 1.92857rem;
                color: #30444E;
            }
            & .product__item-text{
                margin-bottom: 1.07142rem;
            }
            & .product__item-btn{
                width: fit-content;
                padding: 0.57142rem 1.14285rem;
                background: #EE4248;
                box-shadow: 0.07142rem 0.07142rem 0.14285rem rgba(0, 0, 0, 0.25);
                border-radius: 0.28571rem;
            }
            & .product__item-btn a{
                @extend %Roboto_400;
                font-size: 1.28571rem;
                line-height: 1.85714rem;
                color: #FFFFFF;   
            }
        }
    }
}
.footer{
    &__items{
        display: flex;
        align-items: end;
        padding-bottom: 1.78571rem;
    }
    &__item-about{
        & .footer__item-logo{
            margin-bottom: 1.42857rem;
        }
      & .footer__item-title span{
        @extend %Roboto_500;
        font-size: 1.28571rem;
        line-height: 1.5rem;
        color: #263238;
      }
      & .footer__item-text span{
          @extend %Roboto_300;
          font-size: 1.28571rem;
          line-height: 1.85714rem;
          color: #263238;
      }  
    }
    & .footer__items-contact{
        margin-left: 3.35714rem;
        & .footer__item-title{
            margin-bottom: 1.07142rem;
        }
        & .footer__item-title span{
            @extend %Roboto_500;
            font-size: 1.71428rem;
            line-height: 2rem;
            color: #263238;
        }
        & .footer__items-telephone span{
            @extend %Roboto_300;
            font-size: 1.28571rem;
            line-height: 1.85714rem;
            color: #263238;
        }
    }
    &__copyright{
        padding:1.57142rem 0;
        background: #EE4248;
        & .footer__copyright-title{
            width: fit-content;
            margin: 0 auto;            
        }          
        & .footer__copyright-title span{
            @extend %Roboto_500;
            font-size: 1.28571;
            line-height: 1.5rem;
            color: #FFFFFF;     
        }       
    }
}


@import "media";