html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  position: relative;
  height: 100%;
  font-size: 14px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.container {
  margin: 0 auto;
  padding: 0 0.71428rem;
  max-width: 81.42857rem;
  width: 100%;
}

.container_full {
  margin: 0 auto;
  padding: 0 0.71428rem;
  max-width: 137.14285rem;
  width: 100%;
}

.slick-list {
  max-width: 25rem;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slick-dots li {
  padding: 0 1.07142rem;
}

.slick-dots button {
  background-color: #000000;
  border: none;
  width: 0.57142rem;
  height: 0.57142rem;
  border-radius: 50%;
  padding: 0;
  font-size: 0;
}

.slick-dots li.slick-active button {
  background-color: #ee4248;
}

.header .menu__item-link {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

.making__item-title h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.welcome__item-texts .welcome__item-title h2,
.welcome__item-texts .welcome__item-text span,
.product__item-title h2,
.product__items-blocks .product__item-block .product__item-title h3,
.footer__item-about .footer__item-title span,
.footer .footer__items-contact .footer__item-title span,
.footer__copyright .footer__copyright-title span {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.making__item-text span,
.making__item-link .making__item-btn a,
.product__items-blocks .product__item-block .product__item-text span,
.product__items-blocks .product__item-block .product__item-btn a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.footer__item-about .footer__item-text span,
.footer .footer__items-contact .footer__items-telephone span {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@font-face {
  font-family: 'Name font';
  font-style: normal;
  font-weight: 0;
  font-display: swap;
  src: url() format("");
  unicode-range: 0;
}

/* cyrillic-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TjASc3CsTKlA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TjASc-CsTKlA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TjASc2CsTKlA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TjASc5CsTKlA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TjASc1CsTKlA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TjASc0CsTKlA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TjASc6CsQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.header {
  padding: 1.57142rem 0;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0.07142rem 0.28571rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 0.07142rem 0.28571rem rgba(0, 0, 0, 0.25);
}

.header__inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.header .menu__list-item {
  padding: 0.71428rem 0;
  margin: 0 1.78571rem;
}

.header .menu__item-link {
  font-size: 1.28571rem;
  line-height: 1.5rem;
  color: rgba(31, 46, 53, 0.8);
}

.header__item-links a:nth-child(2) {
  margin: 0 1.71428rem;
}

.header__item-mobilemenu .header__item-btn {
  background: transparent;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  cursor: pointer;
}

.header__item-mobilemenu .header__line-btn {
  display: block;
  height: 0.14285rem;
  width: 1.78571rem;
  background: #000000;
  margin-bottom: 0.35714rem;
  opacity: 1;
}

.header__item-mobilemenu .header__item-btn:before {
  margin-bottom: 0.35714rem;
}

.header__item-mobilemenu .header__item-btn:before,
.header__item-mobilemenu .header__item-btn:after {
  content: "";
  display: block;
  height: 0.14285rem;
  width: 1.78571rem;
  background: #000000;
}

.header__item-mobilemenu .header__item-btn.header__item-btn--active .header__line-btn {
  opacity: 0;
}

.header__item-mobilemenu .header__item-btn.header__item-btn--active::after {
  width: 1.78571rem;
  -webkit-transform: translateY(-0.42857rem) rotate(-45deg);
  -ms-transform: translateY(-0.42857rem) rotate(-45deg);
  transform: translateY(-0.42857rem) rotate(-45deg);
}

.header__item-mobilemenu .header__item-btn.header__item-btn--active::before {
  width: 1.78571rem;
  -webkit-transform: translateY(0.57142rem) rotate(45deg);
  -ms-transform: translateY(0.57142rem) rotate(45deg);
  transform: translateY(0.57142rem) rotate(45deg);
}

.header__item-mobilemenu {
  display: none;
}

.making {
  padding: 8.21428rem 0 11.64285rem;
}

.making__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.making__item-title h1 {
  font-size: 3.42857rem;
  line-height: 4.57142rem;
  color: #1F2E35;
}

.making__item-title h1 span {
  color: #EE4248;
}

.making__item-text span {
  font-size: 1.42857rem;
  line-height: 2.07142rem;
  color: #30444E;
}

.making__item-title {
  margin-bottom: 1.71428rem;
}

.making__item-text {
  max-width: 37.14285rem;
  margin-bottom: 1.71428rem;
}

.making__item-link .making__item-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.85714rem 2.28571rem;
  background: #EE4248;
  -webkit-box-shadow: 0.07142rem 0.14285rem 0.28571rem rgba(0, 0, 0, 0.25);
  box-shadow: 0.07142rem 0.14285rem 0.28571rem rgba(0, 0, 0, 0.25);
  border-radius: 0.28571rem;
}

.making__item-link .making__item-btn a {
  font-size: 1.42857rem;
  line-height: 2.07142rem;
  color: #FFFFFF;
}

.welcome {
  padding: 4.07142rem 0 4.5rem;
  background: #F7F7F7;
}

.welcome__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.welcome__item-texts .welcome__item-title h2 {
  font-size: 2.28571rem;
  line-height: 3.05571rem;
  color: #1F2E35;
}

.welcome__item-texts .welcome__item-title h2 span {
  color: #EE4248;
}

.welcome__item-texts .welcome__item-text span {
  font-size: 1.14285rem;
  line-height: 1.92857;
  color: #30444E;
}

.welcome__item-texts .welcome__item-text span span {
  color: #EE4248;
}

.welcome__item-texts .welcome__item-title {
  margin-bottom: 1.71428rem;
}

.welcome__item-texts .welcome__item-text {
  max-width: 37.14285rem;
}

.product {
  padding: 8.28571rem 0 9.85714rem;
}

.product__item-title h2 {
  font-size: 2.28571rem;
  line-height: 3.05571rem;
  color: #1F2E35;
}

.product__item-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.product__items-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.product__items-blocks .product__item-block {
  max-width: 25.92857rem;
  padding: 0 1.71428rem;
}

.product__items-blocks .product__item-block .product__item-img {
  margin-bottom: 1.07142rem;
}

.product__items-blocks .product__item-block .product__item-title h3 {
  font-size: 2rem;
  line-height: 2.67357rem;
  color: #EE4248;
}

.product__items-blocks .product__item-block .product__item-title {
  margin: 0 0 1.07142rem;
}

.product__items-blocks .product__item-block .product__item-text span {
  font-size: 1.28571rem;
  line-height: 1.92857rem;
  color: #30444E;
}

.product__items-blocks .product__item-block .product__item-text {
  margin-bottom: 1.07142rem;
}

.product__items-blocks .product__item-block .product__item-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.57142rem 1.14285rem;
  background: #EE4248;
  -webkit-box-shadow: 0.07142rem 0.07142rem 0.14285rem rgba(0, 0, 0, 0.25);
  box-shadow: 0.07142rem 0.07142rem 0.14285rem rgba(0, 0, 0, 0.25);
  border-radius: 0.28571rem;
}

.product__items-blocks .product__item-block .product__item-btn a {
  font-size: 1.28571rem;
  line-height: 1.85714rem;
  color: #FFFFFF;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  padding-bottom: 1.78571rem;
}

.footer__item-about .footer__item-logo {
  margin-bottom: 1.42857rem;
}

.footer__item-about .footer__item-title span {
  font-size: 1.28571rem;
  line-height: 1.5rem;
  color: #263238;
}

.footer__item-about .footer__item-text span {
  font-size: 1.28571rem;
  line-height: 1.85714rem;
  color: #263238;
}

.footer .footer__items-contact {
  margin-left: 3.35714rem;
}

.footer .footer__items-contact .footer__item-title {
  margin-bottom: 1.07142rem;
}

.footer .footer__items-contact .footer__item-title span {
  font-size: 1.71428rem;
  line-height: 2rem;
  color: #263238;
}

.footer .footer__items-contact .footer__items-telephone span {
  font-size: 1.28571rem;
  line-height: 1.85714rem;
  color: #263238;
}

.footer__copyright {
  padding: 1.57142rem 0;
  background: #EE4248;
}

.footer__copyright .footer__copyright-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.footer__copyright .footer__copyright-title span {
  font-size: 1.28571;
  line-height: 1.5rem;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .header .header__item-mobilemenu {
    display: block;
  }

  .header .menu__list {
    display: none;
  }

  .header .header__item-links {
    margin: 0 1.78571rem 0 auto;
  }

  .menu .menu__list--active {
    padding: 0.71428rem;
    display: block;
    position: absolute;
    background: #ffffff;
    top: 5.71428rem;
    right: 0;
    -webkit-box-shadow: 0 0.07142rem 0.28571rem rgba(0, 0, 0, 0.25);
    box-shadow: 0 0.07142rem 0.28571rem rgba(0, 0, 0, 0.25);
    z-index: 100;
  }

  .menu .menu__list--active li:not(:last-child) {
    margin-bottom: 0.71428rem;
  }

  .making {
    padding: 4.10714rem 0 5.82142rem;
    position: relative;
  }

  .making .making__item-img {
    position: absolute;
    top: 4.10714rem;
    right: 0;
    width: 50vh;
  }

  .making .making__item-title {
    max-width: 22.85714rem;
  }

  .making .making__item-texts {
    width: 100%;
    z-index: 1;
  }

  .making .making__item-btn {
    margin: 0 auto;
  }

  .product .product__items-blocks .product__item-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .product .product__items-blocks .product__item-block .product__item-text {
    text-align: center;
  }

  .footer__items {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 450px) {
  .making .making__item-img {
    display: none;
  }

  .making .making__item-title {
    margin: 0 auto 1.71428rem;
    text-align: center;
  }

  .welcome .welcome__item-img {
    display: none;
  }

  .welcome .welcome__item-title {
    text-align: center;
  }

  .product {
    padding: 4.14285rem 0 4.92857rem;
  }

  .product .product__items-blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .product .product__items-blocks .product__item-block {
    margin-bottom: 1.42857rem;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .product .product__items-blocks .product__item-block .product__item-text {
    text-align: justify;
  }

  .footer__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer__items .footer__item-logo {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto 1.42857rem;
  }

  .footer__items .footer__items-contact {
    margin: 0;
  }
}